<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P2PCamCEO.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E2A43EE15FEEE7D000A2974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E69DCBD15E322A300A4FF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E69DD6015E3258500A4FF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF96FBE15E316C600A13DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>610DB9FF169AF0BF00292CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61575AC8162D3BDE0049F75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619285A015984FCE00981D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D10C7A7199E0FC100BF0E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE8110F1994F9440057DB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE9532719908BD100770A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE954F619908BDA00770A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0C9DE4184213CF00D00D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A80036B184214690060BFA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD372881823758700CCF74E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861D430E183DF4A50069D428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8629B13F180FB5B600338B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862FB66C17D837B4005DD32C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868BEC821852F3940043CAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8691A7A218106FB600BEDE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86BD33791791518400D81FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86BF5BB219768C10005F21C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F71AB2148C5342007705B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
